<%= javascript_include_tag 'cable' %>
<%= javascript_include_tag 'channels/white_board' %>

<div id="read_board" >
</div>

  <style>
  #read_board{
    min-height: 500px;
    width: 90%;
    background-color: black;
    color: white;
    padding: 20px;
  }
  </style>