<%= javascript_include_tag 'cable' %>
<%= javascript_include_tag 'channels/white_board' %>
 
<textarea id="write_board">
</textarea>
<button type="button" id="submit" class="btn btn-primary">
送信
</button>

  <style>
  #write_board{
    min-height: 500px;
    width: 90%;
    background-color: black;
    color: white;
    padding: 20px;
  }
  </style>
