<table class="table">
  <tr>
    <th>タイトル</th>
    <th>主宰</th>
    <th>Bet</th>
    <th>回答制限</th>
  </tr>
  <% @games.each do |g| %>
    <tr>
      <td><%= link_to g.title, game_path(g) %></td>
      <td><%= g.user.username %></td>
      <td><%= g.bet %></td>
      <td><%= g.limit %></td>
    </tr>
  <% end %>
</table>